<div class="container-fluid">
    <div class="row-fluid">
      <div class="row-fluid" id="header-section">
      <div class='span9 main-content' id='page-content'>
        <h1>Bulk<span>Tix</span></h1>
        <h2>Bigger. Better. Stronger.</h2>
        <div class="shopping-cart"></div>
        <h5>showing theaters near hopkinton</h5>
        <div class="span4"></div> <!-- for centering zip code -->
        <div class="span4 search-field">
          <input type="text" placeholder="Enter Zip Code">
          <button type="submit" class="btn btn-info">Find Theaters</button>
        </div>
        <div class='span9 main-content'>
        <div class="span4"></div> <!-- for centering zip code -->
        </div>
        <div class="row-fluid content-row">
          <div class="span12 ">
<!-- one list item -->
        <div class='span6 item'>
          <div class="span4">
            <div class='img-wrapper'>
              <img src="assets/amc_logo.jpg" id='amc-logo'>
            </div>
        
          </div>
          <div class="item-description">
            <div class='span8'>
                <div class='row-fluid tckt-option'>
                  <p class='span5 only-option'><a>&#9432;</a>Gold ticket</p>
                  <p class='amount span3'>$50.00</p>
                  <input type="text" class="quantity span4">
                </div>
                <div class='row-fluid tckt-option'>
                  <p class='span5'><a>&#9432;</a>Silver ticket</p>
                  <p class='amount span3'>$25.00</p>
                  <input type="text" class="quantity span4">
                </div>
                <div class='row-fluid centered-btn-wrapper'>
                  <div class="span5"></div>
                  <button type="submit" class="btn btn-info span5">update cart</button>
                  <div class="span4"></div>
                </div>
              </div>  <!-- span8 -->
            </div> <!-- item description -->
          </div>
<!-- end list item -->
<!--  second-item -->
            <div class='span6 item'>
              <div class="span4">
                <div class="img-wrapper">
                  <img src="assets/century_logo.jpg" class='theater-logo'>
                </div>
                <!-- <h5>AMC</h5> -->
              </div>
              <div class="item-description">
              <div class='span8'>
              
                  <div class='row-fluid'>
                    <p class='span5 only-option'><a>&#9432;</a>Gold ticket</p>
                    <p class='amount span3'>$50.00</p>
                    <input type="text" class="quantity span4">
                  </div>
                  <div class='row-fluid'>
                    <p class='span5 only-option'><a>&#9432;</a>Silver ticket</p>
                    <p class='amount span3'>$25.00</p>
                    <input type="text" class="quantity span4">
                  </div>
                  <div class='row-fluid'>
                    <div class="span4"></div>
                    <button type="submit" class="btn btn-info span5">update cart</button>
                    <div class="span4"></div>
                  </div>
          
            </div>  <!-- span8 -->
            </div> <!-- item description -->
            </div>
          <!--  end second item and first row-->
          </div>
        </div>

        <div class="row-fluid content-row">
          <div class="span12 ">
<!-- one list item -->
        <div class='span6 item'>
          <div class="span4">
            <div class='img-wrapper'>
              <img src="assets/cinema_de_lux_logo.gif" id='amc-logo'>
            </div>
                <!-- <h5>AMC</h5> -->
          </div>
          <div class="item-description">
            <div class='span8'>
                <div class='row-fluid tckt-option'>
                  <p class='span5 only-option'><a>&#9432;</a>Gold ticket</p>
                  <p class='amount span3'>$50.00</p>
                  <input type="text" class="quantity span4">
                </div>
                <div class='row-fluid tckt-option'>
                  <p class='span5'><a>&#9432;</a>Silver ticket</p>
                  <p class='amount span3'>$25.00</p>
                  <input type="text" class="quantity span4">
                </div>
                <div class='row-fluid centered-btn-wrapper'>
                  <div class="span4"></div>
                  <button type="submit" class="btn btn-info span5">update cart</button>
                  <div class="span4"></div>
                </div>
              </div>  <!-- span8 -->
            </div> <!-- item description -->
          </div>
<!-- end list item -->
<!--  second-item -->
            <div class='span6 item'>
              <div class="span4">
                <div class="img-wrapper">
                  <img src="assets/cinemark_logo.gif" class='theater-logo '>
                </div>
                <!-- <h5>AMC</h5> -->
              </div>
              <div class="item-description">
              <div class='span8'>
                <div class="option1">
                  <div class='row-fluid'>
                    <p class='span5 only-option'><a>&#9432;</a>Gold ticket</p>
                    <p class='amount span3'>$50.00</p>
                    <input type="text" class="quantity span4">
                  </div>
                  <div class='row-fluid'>
                    <p class='span5 only-option'><a>&#9432;</a>Silver ticket</p>
                    <p class='amount span3'>$25.00</p>
                    <input type="text" class="quantity span4">
                  </div>
                  <div class='row-fluid'>
                    <div class="span4"></div>
                    <button type="submit" class="btn btn-info span5">update cart</button>
                    <div class="span4"></div>
                  </div>
                </div>
            </div>  <!-- span8 -->
            </div> <!-- item description -->
            </div>
          <!--  end second item and first row-->
          </div>
        </div>
      </div>
    
      </div>
    </div>
  </div> 